.icon {
    width: 16px;
    height: 16px;
    display: inline-block;
}

.icon-road {
    background-image: url('/assets/images/icons/icon-road.png');
}

.icon-gearshift {
    background-image: url('/assets/images/icons/icon-gearshift.png');
}

.icon-calendar {
    background-image: url('/assets/images/icons/icon-calendar.png');
}

.icon-fuel {
    background-image: url('/assets/images/icons/icon-fuel.png');
}

.icon-car {
    background-image: url('/assets/images/icons/icon-car.png');
}

.icon-engine {
    background-image: url('/assets/images/icons/icon-engine.png');
}

.icon-palette {
    background-image: url('/assets/images/icons/icon-palette.png');
}

.icon-plate {
    background-image: url('/assets/images/icons/icon-plate.png');
}

